<br>
<br>
<a href="/" class="button"> Back to Home</a>

<style>
.button {
    background-color: cornflowerblue;
    color: red;
    padding: 15px 12px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 20px;
    margin: 10px 20px;
    border-radius: 50%;
}
body {
  background-color: lightgreen;
}
</style>