<h1> Welcome to {{hell}} </h1>

<a href="/articles" class="button">Articles!</a>
<br>
<br>
<a href="/products" class="button">Products!</a>

<style>
.button {
    background-color: cornflowerblue;
    color: red;
    padding: 15px 12px;
    text-align: center;
    text-decoration: bold;
    display: inline-block;
    font-size: 20px;
    margin: 10px 20px;
    border-radius: 50%;
}
</style>
