<h1> Products! </h1>
<a href="/products/new" class="button">Make New Product!</a>
  <div class="products">
  <ul class='products'>

    {{#each products}}
      <br>

      <li>Name : {{this.name}}</li>
      <li>Price : {{price}}</li>
      <li>Inventory : {{inventory}}</li>
      <br>
      <form action="/products/{{id}}/edit" method="GET" >
       <input type="submit" value="Edit Product">
      </form>
    {{/each}}
  </ul>
</div>

{{> footer}}
