<h1> Create a new Product </h1>

<form action="/products" method="POST">
  Name: <input type="text", name="name">
  Price: <input type="text", name="price">
  Inventory: <input type="text", name="inventory">
  <button type="submit">Submit</button>
</form>



{{> footer}}