<h1> Articles </h1>

<div class="articles">
  {{#each article}}
  <h3>Title: {{title}}</h3>
    <ul>
      <li>By: {{author}}</li>
      <li>{{body}}</li>
      <li>URL: {{URL}}</li>
    </ul>
    {{/each}}
  </div>