<h1> Write a new Article </h1>

<form action="/articles" method="POST">
  Title: <input type="text", name="title">
  Author: <input type="text", name="author">
  Body: <input type="text", name="body">
  <button type="submit">Submit</button>
</form>



{{> footer}}